#будет игнорироваться каталог tmp
tmp/

#будут игнорироваться подкаталоги tmp
/tmp/

#будут игнорироваться файлы, заканчивающие суффиксом _old
*_old*

#будут игнорироваться файлы, заканчивающие суффиксом _backup
*_backup*

#будут игнорироваться файлы и каталоги Thumbs.db
Thumbs.db

#будут игнорироваться файлы с расширением .DS_Store
*.DS_Store